* {
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 470px;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
}
.search {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.search input {
    padding: 20px;
    margin: 8px;
    margin-right: 0;
    border-radius: 30px;
    border: none;
    outline: none;
}

.search img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search button {
    border-radius: 45%;
    border: none;
    padding: 10px;
}

.weather {
    margin: 20px;
    padding: 20px;
}

.weather img {
    width: 100px;
    height: 100px;
    text-align: center;
}

.weather h1{
    font-weight: bolder;
}

.hum-wind {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    padding: 10px 25px;
}

.col img {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 10px;
}

.humudity , .wind {
    font-weight: bold;
    margin: 5px;
    padding: 5px;
}